<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | TURN8js</title>
    {{ css }}
</head>
<body>
    <nav>
        <h1 id="navlogo"><a href="{{ T_PATH }}">Turn8js</a></h1>
        <ul id="navlist" class="desktop-600">
            <ion-icon name="arrow-back-outline" class="mobile-600" id="navback-mobile"></ion-icon>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Jogos</a></li>
            <li><a href="#" class="btn-active">Entrar</a></li>
            <li><a href="#">Cadastrar</a></li>
        </ul>

        <ion-icon name="menu-outline" class="mobile-600" id="navmenu-mobile"></ion-icon>
    </nav>

    {{ content }}

    <footer>
        <h1>Copyright &copy; <a href="https://github.com/erikfritas">@erikfritas</a> 2021</h1>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {{ js }}
</body>
</html>
